@tailwind base;
@tailwind components;
@tailwind utilities;

.flameBg {
  background-image: url("./Assets/Common_images/nav-flames.png");
  background-size: cover;
}
.navlinks:after {
  display: block;
  content: "";
  border-bottom: solid 3px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: left;
}
.navlinks:hover:after {
  transform: scaleX(1);
}

.bg-nextHome {
  background-image: url("./Assets/Common_images/homeb2.png");
  background-size: cover;
  /* background-repeat: repeat; */
}

@media screen and (max-width: 768px) {
  .bg-screen {
    background-image: url("./Assets/Common_images/Phone-Hero.png");
  }
}

.bg-nav {
  background-image: url("./Assets/Common_images/nav-flames.png");
  background-size: cover;
}

.up-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 15px solid black;

  margin: 0rem;
}

.profile_table {
  width: 100%;
}

.profile_table td {
  padding: 10px;
  font-size: large;
}

input::placeholder {
  color: white;
  opacity: 0.6;
}

input {
  outline: none;
  -webkit-background-clip: text !important;
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1550px);
  }
  0% {
    transform: translateX(0);
  }
}

@media screen and (min-width: 1024px) {
  @keyframes roll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-1200px);
    }
    0% {
      transform: translateX(0);
    }
  }
}

@media screen and (min-width: 1260px) {
  @keyframes roll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-750px);
    }
    0% {
      transform: translateX(0);
    }
  }
}

.slide-track {
  animation: scroll 20s linear infinite;
}

@media screen and (min-width: 1024px) {
  .slide-track {
    animation: roll 15s linear infinite;
  }
}

iframe {
  display: none;
}
