@tailwind base;
@tailwind components;
@tailwind utilities;

.navlinks:after {
  display: block;
  content: "";
  border-bottom: solid 3px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: left;
}
.navlinks:hover:after {
  transform: scaleX(1);
}

.bg-home {
  background-image: url("./Assets/Common_images/Hero_Section.png");
  background-size: cover;
}

.up-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 15px solid black;

  margin: 0rem;
}
